.p-about {
    position: relative;

    &::before {
        content: "";
        background-color: #0080cc;
        width: 76.75%;
        height: calc(100% + 99px);
        position: absolute;
        top: 0;
        z-index: -1;
        @include tab {
            width: 87%;
            height: calc(100% + 93px);
            top: -31px;
        }
        @include sp {
            width: 97.3%;
            height: calc(100% + 87px);
        }
    }

    
    .c-about__wrapper {
        display: flex;
        padding: 101px 50px 0;
        justify-content: flex-end;
        @include tab {
            padding: 29px 20px 0 16px;
        }
        @include sp {
            flex-direction: column-reverse;
            padding: 29px 20px 0 18px;

        }
    }
    
    .c-about__text {
        max-width: 421px;
        width: 100%;
        margin-right: 39px;
        margin-top: 12px;
        @include tab {
            margin-right: 10px;
            margin-top: 24px;
        }
        @include sp {
            margin-right: 10px;
            margin-top: 34px;
        }

        .c-about__title {
            font-size: 3.4rem;
            font-weight: 500;
            letter-spacing: 0.064em;
            @include tab {
                font-size: 3rem;
                letter-spacing: 0.054em;
            }
            @include sp {
                font-size: 2.4rem;
                margin-left: 2px;
            }
        }
    
        .c-about__description {
            font-size: 1.6rem;
            font-weight: 400;
            margin-top: 24px;
            letter-spacing: 0.024em;
            line-height: 1.75;
            @include tab {
                font-size: 1.4rem;
                margin-top: 11px;
                margin-left: 2px;
            }
            @include sp {
                font-size: 1.4rem;
                line-height: 1.55;
            }

            &:not(:first-child) {
                margin-top: 28px;
                @include tab {
                    margin-top: 27px;
                }
                @include sp {
                    margin-top: 23px;
                }
            }
        }
    }
    
    .c-about__imgbox {
    
        max-width: 570px;
        width: 100%;
        @include tab {   
            max-width: 325px;
        }
        @include sp {
            max-width: 375px;
        }
    
        .c-about__img {
            position: relative;

            &::after {
                @include sp {

                    content: "";
                    position: absolute;
                    max-width: 331px;
                    width: 100%;
                    display: block;
                    border: 2px solid #fff;
                    height: 356px;
                    left: -2.9%;
                    z-index: 2;
                    top: 5%;
                    height: 98.4%;
                }
            }

            &--top {
                margin-bottom: 21px;
                @include sp {
                    top: -13px;
                    left: 2px;
                    margin-bottom: 26px;
                }

            }

            &--bottom {
                @include sp {
                    top: -5px;
                    left: 0;
                
                }

                &::after {
                    @include sp {
                        left: -2%;
                        z-index: 2;
                        top: 2.5%;
                        height: 98.4%;
                    }
                }
            }
        }

    }    



}
