.p-work {
    margin-top: 192px;
    position: relative;
    @include tab {
        margin-top: 113px;
    }

    &::before {
        content: "";
        background-color: #eff3f5;
        width: 76.75%;
        height: 84.5%;
        position: absolute;
        top: 15.5%;
        right: 0;
        z-index: -1;
        @include tab {
            height: 84.2%;
            top: 15.8%;
        }
    }
}


.c-work__heading {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .c-work__title {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 0.074em;
        margin-bottom: 8px;
        @include tab {
            font-size: 3rem;
            letter-spacing: 0.054em;
        }
    }

    .c-work__subtitle {
        line-height: 1.7;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.024em;
        @include tab {
            font-size: 1.4rem;
            line-height: 1.75;
        }
    }

}

.c-work__wrapper {
    display: flex;
    margin-top: 60px;
    padding: 0 78px 0 120px;
    @include tab {
        margin-top: 37px;
        padding: 0 20px;
    }

    .c-work__imgbox {
        max-width: 400px;
        width: 100%;
        margin-right: 40px;
        @include tab {
            max-width: 288px;
            margin-right: 20px;
        }

        .c-work__img {
            @include tab {
                &--2 {
                    margin-top: -9px;
                }
            }
        }
    }

   

    .c-work__text {
        padding-top: 92px;
        @include tab {
            padding-top: 55px;
        }
    }

    .c-work__item {
        display: flex;
        max-width: 560px;
        width: 100%;
        align-items: center;
        border: 1px solid #0080cc;

        &:first-child {
            margin-top: 31px;
            @include tab {
                margin-top: 19px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 21px;
            @include tab {
                margin-bottom: 16px;
            }
        }

        &:not(:first-child) {
            .c-work__description {
                padding-left: 18px;
                @include tab {
                    padding-left: 14px;
                }
            }

        }

        &:nth-child(2) {
            margin-bottom: 22px;
            @include tab {
                margin-bottom: 8px;
            }

            .c-work__id {
                padding: 26px 22px 26px 21px;
                @include tab {
                    padding: 30px 15px;
                }
            }

            .c-work__description {
                padding-right: 18px;
                @include tab {
                    padding: 0 14px;
                }
            }
        }

        &:nth-child(3) {
            @include tab {
                margin-bottom: 14px;
            }

            .c-work__id {
                @include tab {
                    padding: 17px 15px 19px;
                }
            }

            .c-work__description {
                @include tab {
                    padding-left: 13px;
                    padding-right: 22px;
                    margin-top: 6px;
                }
            }
        }

        &:nth-child(4) {
            @include tab {
                margin-bottom: 17px;
            }
        }

        &:nth-child(5) {
            @include tab {
                margin-bottom: 17px;
            }
        }

        &:nth-child(6) {
            margin-bottom: 22px;
            @include tab {
                margin-bottom: 17px;
            }

            .c-work__id {
                @include tab {
                    padding: 9px 16px 5px 14px;
                }
            }
        }

        &:nth-child(7) {
            @include tab {
                margin-bottom: 17px;
            }
        }
    }
    
    .c-work__listtitle {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 0.074em;
        margin-bottom: 10px;
        @include tab {
            font-size: 3rem;
            letter-spacing: 0.054em;
            margin-bottom: 5px;
        }
    }

    .c-work__listsubtitle {
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.024em;
        @include tab {
            font-size: 1.4rem;
        }
    }

    .c-work__id {
        font-size: 2rem;
        font-weight: 300;
        display: inline-flex;
        background-color: #0080cc;
        padding: 13px 22px 12px 21px;
        color: #fff;
        @include tab {
            padding: 6px 16px 8px 14px;
        }
    }

    .c-work__description {
        font-size: 1.8rem;
        font-weight: 300;
        display: inline-flex;
        letter-spacing: 0.03em;
        padding-left: 24px;
        @include tab {
            font-size: 1.6rem;
            letter-spacing: 0.022em;
            padding-left: 19px;
        }
    }
}

