.p-collection {
    .c-collection__modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10000;
        background-color: #fff;
        display: none;
        overflow: auto;

        &.is-active {
            display: block;
        }

        .c-collection__content {
            margin: 73px auto;

            
        }

        .c-collection__modalcontent {
            padding: 39px 56px 36px;
            border: 4px solid #0080cc;

            &--bottom {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                width: fit-content;
                margin: 0 auto;
                margin-top: 40px;
                padding: 8px 25px;
                border-radius: 9px;
                font-size: 1.6rem;
                font-weight: 500;
                cursor: pointer;
                opacity: 1;
                transition: opacity 0.5s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .c-collection__modalimg {
            width: 100%;
            max-height: 601px;
            height: 100%;
            object-fit: cover;
        }
    }
}

.c-collection {
    margin-top: 90px;
    @include tab {
        margin-top: 52px;
    }

    .c-collection__heading {
        text-align: center;

        .c-collection__title {
            font-size: 3.4rem;
            font-weight: 500;
            letter-spacing: 0.05em;
        }

        .c-collection__description {
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: 0.024em;
            margin-top: 12px;
            @include tab {
                margin-top: 8px;
            }
        }
    }

    .c-collection__content {
        display: flex;
        margin-top: 35px;
        border: 1px solid #0080cc;
        justify-content: center;
        padding: 39px 38px 17px 40px;
        @include tab {
            max-width: 730px;
            width: 100%;
            margin: 0 auto;
            margin-top: 35px;
            padding: 19px 20px 20px;
        }
    }

    .c-collection__item {

        position: relative;

        &--video {
            width: 55%;
            margin-right: 3px;
            @include tab {
                margin-right: 5px;
            }
        }

        &--imgbox {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .c-collection__video {
            position: absolute;
            width: 96%;
            height: 96%;
            object-fit: cover;
            @include tab {
                height: 100%;
            }
        }

        .c-collection__img {
            margin-bottom: 26px;
            cursor: pointer;
            transition: opacity 0.3s;
            position: relative;

            &:nth-child(3),
            &:nth-child(4) {
                @include tab {
                    margin-bottom: 21px;
                }
            }

            &:nth-child(7),
            &:nth-child(8) {
                @include tab {
                    margin-bottom: 0px;
                }
            }
            @include tab {
                margin-bottom: 22px;
            }

            &::before {
                width: 100%;
                height: 100%;
                position: absolute;
                content: "";
                background: url("./assets/img/collection/zoom.svg") no-repeat;
                z-index: 2;
                background-position: 50% 51%;
                opacity: 0;
                transition: all 0.3s;
            }

            &::after {
                content: "";
                position: absolute;
                background-color: #fff;
                inset: 0;
                z-index: 1;
                opacity: 0;
                transition: all 0.3s;
            }

            &:hover {
                &::after {
                    opacity: 0.7;
                }

                &::before {
                    opacity: 1;
                }
            }
        }
    }
    
    
}
