.c-recruit {
    margin-top: 90px;
    @include tab {
        margin-top: 50px;
    }

    .c-recruit__heading {
        text-align: center;
    }

    .c-recruit__title {
        font-size: 4.4rem;
        font-weight: 500;
        letter-spacing: 0.074em;
        margin-bottom: 10px;
    }

    .c-recruit__subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.024em;
        line-height: 1.6;
    }

    .c-table__wrapper {
        margin-top: 63px;
        @include tab {
            margin-top: 33px;
            max-width: 728px;
            margin: 34px auto 0;
        }
    }

    .c-table {
        border-collapse: collapse;
        color: #0b0b0b;

    }

    .c-table__content {
        background-color: #f2f5f7;
        padding: 59px 38px 56px;
        border: 3px solid #0080cc;
        display: none;
        @include tab {
            padding: 38px 18px 40px;
        }

        &--2 {
            padding: 59px 38px 74px;
            @include tab {
                padding: 38px 18px 40px;
            }

            &.is-active {
                border-color: #3c3c3c;

            }

            .c-table__row {
                &--1 {
                    border-color: #3c3c3c;
                }

                &--5 {
                    .c-table__description {
                        padding: 15px 0 14px;
                        line-height: 1.85;
                    }
                }
            }

            .c-table__description {
                border-color: #707070;
            }
        }

        &.is-active {
            display: block;          
        }
    }

    .c-table__tabs {
        display: flex;
        align-items: flex-end;
    }

    .c-table__tab {
        font-size: 2.6rem;
        font-weight: 400;
        width: 50%;
        text-align: center;
        cursor: pointer;
        border: 1px solid #404141;
        padding: 28px 36px 13px 0;
        color: #3c3c3c;
        @include tab {
            padding: 11px 36px 5px 0;
        }

        &--left {
            border-top-left-radius: 10px;
            border-right: hidden;

            &.is-active {
                background: #0080cc;
                width: 50%;
                color: #fff;
                border: hidden;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                padding: 29px 0 17px;
                line-height: 1.7;
                @include tab {
                    width: 59.4%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    padding: 14px 0 5px;
                    line-height: 1.7;
                }
            }
        }

        &--right {
            border-top-right-radius: 10px;
            border-left: hidden;

            &.is-active {
                background: #3c3c3c;
                width: 50%;
                color: #fff;
                border: hidden;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                padding: 29px 0 17px;
                line-height: 1.7;
                @include tab {
                    width: 59.4%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    padding: 14px 0 5px;
                    line-height: 1.7;
                }
            }
        }
    }

    .c-table__head {
        font-size: 2rem;
        font-weight: 600;
        width: 29%;
        text-align: start;
        vertical-align: top;
        padding: 20px 0 18px 60px;
        @include tab {
            font-size: 1.6rem;
            width: 25.6%;
            padding: 20px 0 20px 22px;
        }
    }

    .c-table__description {
        font-size: 1.6rem;
        font-weight: 400;
        color: #0b0b0b;
        letter-spacing: 0.024em;
        @include tab {
            font-size: 1.4rem;
        }
    }

    .c-table__row {
        border-bottom: 1px solid #707070;

        &--1 {
            border-bottom: 5px solid #0080cc;

            .c-table__head {
                padding: 2px 0 16px 60px;
                @include tab {
                    padding: 1px 0 21px 22px;
                }
            }

            .c-table__description {
                vertical-align: text-top;
            }
        }

        &--2 {
            .c-table__head {
                padding: 20px 0 75px 60px;
                @include tab {
                    padding: 20px 0 79px 22px;
                }
            }

            .c-table__description {
                vertical-align: text-top;
                padding-top: 16px;
                line-height: 1.75;
                @include tab {
                    padding-top: 15px;
                    line-height: 1.95;
                }
            }
        }

        &--3 {
            .c-table__head {
                padding-top: 20px;
                padding-bottom: 18px;
                @include tab {
                    padding: 20px 0 23px 22px;
                }
            }

            .c-table__description {
                vertical-align: middle;
                @include tab {
                    vertical-align: top;
                    padding-top: 20px;
                }
            }
        }

        &--4 {
            .c-table__head {
                padding-top: 21px;
                padding-bottom: 43px;
                @include tab {
                    padding-top: 19px;
                    padding-bottom: 49px;
                }
            }

            .c-table__description {
                line-height: 1.8;
                @include tab {
                    line-height: 2.2;
                }
            }
        }

        &--6 {
            .c-table__head {
                padding-bottom: 39px;
                @include tab {
                    padding-bottom: 45px;
                    padding-top: 18px;
                }
            }

            .c-table__description {
                line-height: 1.6;
                @include tab {
                    line-height: 2.1;
                }
            }
        }

        &--7 {
            .c-table__head {
                padding-bottom: 103px;
                @include tab {
                    padding-bottom: 107px;
                }
            }

            .c-table__description {
                line-height: 1.85;
                @include tab {
                    line-height: 2.1;
                }

                &--item {
                    &:nth-of-type(2) {
                        margin-left: 4px;
                    }

                    &:nth-of-type(3) {
                        margin-left: 4px;
                    }
                }
            }
        }

        &--8 {
            .c-table__head {
                @include tab {
                    padding: 19px 0 23px 22px;
                }
            }

            .c-table__description {
                @include tab {
                    padding-top: 19px;
                    vertical-align: text-top;

                }
            }
        }
        
        &--9 {
            .c-table__head {
                @include tab {
                    padding: 19px 0 21px 22px;
                }
            }

            .c-table__description {
                @include tab {
                    padding-top: 19px;
                    vertical-align: text-top;

                }
            }
        }

        &--10 {
            .c-table__head {
                @include tab {
                    padding-bottom: 21px;
                }
            }
        }

        &--11 {
            .c-table__head {
                @include tab {
                    padding-bottom: 22px;
                }
            }
        }

        &--12 {
            .c-table__head {
                @include tab {
                    padding-bottom: 21px;
                }
            }

            .c-table__description {
                padding-top: 4px;
                padding-left: 3px;
            }
        }

        &--13 {
            .c-table__head {
                padding: 16px 80px 71px 60px;
                line-height: 1.5;
                @include tab {
                    padding: 12px 46px 71px 22px;
                    line-height: 2;
                }
            }

            .c-table__description {
                padding-top: 16px;
                padding-right: 48px;
                line-height: 1.85;
                vertical-align: text-top;
                letter-spacing: 0.02em;
                @include tab {
                    padding-top: 11px;
                    padding-right: 22px;
                    line-height: 2.2;
                }
            }
        }
    }

    .c-table__btngroup {
        display: flex;
        justify-content: space-between;
        padding: 51px 69px 0;
        @include tab {
            padding: 41px 32px 0;
        }

        .c-table__btn {
            color: #fff;
            font-size: 2.2rem;
            font-weight: 400;
            border-radius: 9px;
            display: flex;
            align-content: center;
            justify-content: center;
            max-width: 353px;
            max-height: 66px;
            width: 100%;
            padding: 17px 0;
            letter-spacing: 0.024em;
            @include tab {
                font-size: 2rem;
                max-width: 300px;
                max-height: 54px;
                padding: 12px 0;
            }

            &::before { 
                display: block;
                content: "";
                background: url("./assets/img/recruitment.svg") no-repeat;
                width: 30px;
                height: 30px;
                padding-right: 9px;
                background-size: contain;
                @include tab {
                    width: 27px;
                    height: 27px;
                 
                }
            }

            &--left {
                background: #0080cc;

                &::before {
                    transform: translate(-54%, 7%);
                    @include tab {
                        transform: translate(-23%, 5%);
                    }
                }
            }

            &--right {
                background: #005384;
                margin-right: -1px;
                @include tab {
                    margin-right: 1px;
                }

                &::before {
                    transform: translate(5%, 7%);
                    @include tab {
                        transform: translate(-6%, 5%);
                    }
                }
            }
        }
    }
}
