//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin tab {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
@mixin fixpcview {
    @media only screen and (max-width: 1025px) {
        @content;
    }
}
@mixin pp {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}
