.u-textblue {
    color: $blue;
}

.u-bgblue {
    background-color: $blue;
}

.u-textwhite {
    color: $white;
}

.u-bgwhite {
    background-color: $white;
}

.u-textorange {
    color: $orange;
}

.u-bgorange {
    background-color: $orange;
}

.u-textgray {
    color: $gray;
}

.u-bggray {
    background-color: $gray;
}
