//baseWidth
$base-width: 1000px;

$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;


//main text color
$blue: #0080cc;
$orange: #ff5800;
$white: #fff;
$gray: #3c3c3c;
$gray-70: #707070;
$gray-cb: #cbcbcb;
$gray-ef: #eff3f5;
$black-0b: #0b0b0b;
//color common
$color-gray: #f2f5f7;
$color-bold-blue: #005384;

//background
$btn-background: #0080cc;
$color-background1: #eff3f5;
$color-background2: #f8f8f8;
$color-background3: #fdfbef;
$color-background4: #f2f5f7;
$color-background5: #0080cc;
