#p-main {
    font-family: $main-fonts;
    font-size: 1.4rem;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }

    &.is-hidden {
        overflow-y: hidden;
    }
}

#p-top {
    margin-top: 80px;
    @include sp {
        margin-top: 67px;
    }
}

.l-container {
    width: 100%;
    margin: 0 auto;
    
}

.l-container--1200 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.l-container--880 {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

.l-container--1080 {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.l-container--960 {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.l-container--1140 {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
