/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: $base-width;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}

section {
    padding: 50px 0 90px;
}

//-------------------------------------------------------
.l-container--1200 {
    width: 1200px;
    margin: 0 auto;
}
