<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Home page">
<!-- @@meta -->

<!-- @content -->
<main class="p-top">
  <section class="c-mainvisual">
    <div class="c-mainvisual__inner">
      <h2>LOREM IPSUM</h2>
      <p>In volutpat metus quis velit malesuada</p>
      <a href="<%= BASE_URL %>about.html" class="c-btn1">JOIN NOW</a>
    </div>
  </section>
</main>
<!-- @@content -->

<!-- @script -->
<script>
</script>
<!-- @@script -->
