<header class="c-header u-bgwhite">
  <div class="c-header__wrapper l-container--1200">
    <h2 class="c-header__logo">
      <a href="./" class="c-header__logolink">
        <img src="./assets/img/logo.svg" alt="Entex Recruitment">
      </a>
    </h2>
    <nav class="c-gnav">
    <% if (typeof linklists != 'undefined') { %>
      <ul class="c-gnav__menu">
        <% linklists.main && linklists.main.forEach(link => { %>
          <li class="c-gnav__item">
            <a class="c-gnav__link u-textblue" href="<%= link.url %>"><%= link.title %></a>
          </li>
        <% }) %>
      </ul>
    </nav>
      <% linklists.subpage && linklists.subpage.forEach(item => { %>
        <a class="c-gnav__recruit u-bgblue u-textwhite" <% if (item.current || item.active) { %>class="is-active"<% } %> href="<%= item.url %>"><%= item.title %></a>
    <% }) %>
    <%}%>

    </div>
</header>
